<mat-card>Ingrese los datos del proveedor</mat-card>

<br/>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" formControlName="prv_ide">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" formControlName="prv_nom">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Correo" formControlName="prv_cro">
    </mat-form-field>

    <mat-form-field class="example-full-width">

        <input matInput placeholder="Telefono" formControlName="prv_tlf" type="text">

    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
    <button mat-raised-button color="accent" routerLink='/proveedor' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<br/>