<mat-card>INGRESE DATOS DEL DEPARTAMENTOo</mat-card>

<br/>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" formControlName="dpr_Ide">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="NOMBRE" formControlName="dpr_Nom">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="RESPONSABLE" formControlName="dpr_Res">
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="EQUIPO" formControlName="dpr_Res">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field> -->

    <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="RESPONSABLE" formControlName="dpr_Res">
    </mat-form-field-->

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
    <button mat-raised-button color="accent" routerLink='/departamento' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<br/>