<div class="example-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="image-container">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <img src="assets/img/alcaldia.png" alt="" class="center-block" style="position: center !important; height: 150px !important; left: 95px !important;" />
                </div>

            </div>
        </div>
    </div>
</div>